fastapi
uvicorn[standard]
sqlalchemy # the ORM
psycopg2-binary # the Postgres driver
python-dotenv # load .env variables
boto3==1.43.56
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
python-jose[cryptography]==3.3.0
setuptools-scm
